main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;
}
.card {
  width: 80%;
  height: 80%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-around;
}

.title {
  font-size: 24pt;
}

.card-content {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
}

.card-actions {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.spacer {
  flex-grow: 1;
}
