<mat-card class="card">
  <mat-card-header class="card-header">
    <mat-card-title>Welcome to <strong>Setup.GG</strong></mat-card-title>
    <mat-card-subtitle>Share your setup with a link now!</mat-card-subtitle>
  </mat-card-header>
  <div class="spacer"></div>
  <mat-card-content class="card-content">
    <p>With our service you can share your setup quickly, you just have to register, fill out the forms, and save the changes. It has never been so easy!</p>

    <p>To share it with your friends, you just have to pass the link of your setup and they will be able to consult it instantly</p>
  </mat-card-content>
    <mat-card-footer class="card-footer">
      <button mat-raised-button color="primary" [routerLink]="['/all-setups']">See all Setups!</button>
    </mat-card-footer>

</mat-card>
