<main>
  <mat-card class="card">
    <mat-card-header class="card-header">
      <mat-card-title class="title">Add Setup</mat-card-title>
      </mat-card-header>
      <mat-card-content>
      <form [formGroup]="addForm" class="card-content">
        <mat-form-field appearance="outline">
          <mat-label>Name</mat-label>
          <input matInput type="text" formControlName="name" required>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Processor</mat-label>
          <input matInput type="text" formControlName="processor" required>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Motherboard</mat-label>
          <input matInput type="text" formControlName="motherboard" required>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Graphic Card</mat-label>
          <input matInput type="text" formControlName="graphic_card">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>RAM</mat-label>
          <input matInput type="text" formControlName="ram" required>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>HDD</mat-label>
          <input matInput type="text" formControlName="hdd">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>SDD</mat-label>
          <input matInput type="text" formControlName="sdd">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Cooler</mat-label>
          <input matInput type="text" formControlName="cooler">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Box</mat-label>
          <input matInput type="text" formControlName="box" required>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Power Supply</mat-label>
          <input matInput type="text" formControlName="power_supply" required>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Keyboard</mat-label>
          <input matInput type="text" formControlName="keyboard">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Mouse</mat-label>
          <input matInput type="text" formControlName="mouse">
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions class="card-actions">

        <button mat-raised-button color="primary" [routerLink]="['/all-setups/']">Go All Setups</button>
        <span class="spacer"></span>
        <button mat-raised-button color="primary" [disabled]="!addForm.valid" (click)="addSetup()">Save setup</button>

    </mat-card-actions>
  </mat-card>
</main>
